<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuexiang.pushdemo">

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestActivity" />

        <receiver android:name=".receiver.NotifyBroadCastReceiver">
            <intent-filter>
                <action android:name="com.xuexiang.pushdemo.receiver.ACTION_SUBMIT" />
                <action android:name="com.xuexiang.pushdemo.receiver.ACTION_CANCEL" />
                <action android:name="com.xuexiang.pushdemo.receiver.ACTION_REPLY" />
            </intent-filter>
        </receiver>

        <!--定时服务-->
        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--轮询处理服务-->
        <service android:name=".service.PollingService" />


        <!--********************************XPush消息推送接收器************************************-->
        <!--自定义消息推送接收器-->
        <receiver android:name=".push.CustomPushReceiver">
            <intent-filter>
                <action android:name="com.xuexiang.xpush.core.action.RECEIVE_CONNECT_STATUS_CHANGED" />
                <action android:name="com.xuexiang.xpush.core.action.RECEIVE_NOTIFICATION" />
                <action android:name="com.xuexiang.xpush.core.action.RECEIVE_NOTIFICATION_CLICK" />
                <action android:name="com.xuexiang.xpush.core.action.RECEIVE_MESSAGE" />
                <action android:name="com.xuexiang.xpush.core.action.RECEIVE_COMMAND_RESULT" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--&lt;!&ndash;默认的消息推送接收器&ndash;&gt;-->
        <!--<receiver android:name="com.xuexiang.xpush.core.receiver.impl.XPushReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xuexiang.xpush.core.action.RECEIVE_CONNECT_STATUS_CHANGED" />-->
        <!--<action android:name="com.xuexiang.xpush.core.action.RECEIVE_NOTIFICATION" />-->
        <!--<action android:name="com.xuexiang.xpush.core.action.RECEIVE_NOTIFICATION_CLICK" />-->
        <!--<action android:name="com.xuexiang.xpush.core.action.RECEIVE_MESSAGE" />-->
        <!--<action android:name="com.xuexiang.xpush.core.action.RECEIVE_COMMAND_RESULT" />-->

        <!--<category android:name="${applicationId}" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--********************************XPush各家推送的AppId注册地方************************************-->
        <!--极光推送静态注册-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="default_developer" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="a32109db64ebe04e2430bb01" />

        <!--友盟推送静态注册-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d5a42ce570df37e850002e9" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="4783a04255ed93ff675aca69312546f4" />

        <!--华为HMS推送静态注册-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="101049475" />

        <!--小米推送静态注册-->
        <meta-data
            android:name="MIPUSH_APPID"
            android:value="\ 2882303761518134164" />
        <meta-data
            android:name="MIPUSH_APPKEY"
            android:value="\ 5371813415164" />

        <!--信鸽推送静态注册-->
        <meta-data
            android:name="XGPUSH_ACCESS_ID"
            android:value="2100343759" />
        <meta-data
            android:name="XGPUSH_ACCESS_KEY"
            android:value="A7Q26I8SH7LV" />

        <!--********************************XPush各家推送的SDK注册地方**************************************-->
        <!--name格式：XPush_[PlatformName]_[PlatformCode]-->
        <!--value格式：对应客户端实体类的全类名路径-->

        <!--如果引入了xpush-jpush库-->
        <meta-data
            android:name="XPush_JPush_1000"
            android:value="@string/xpush_jpush_client_name" />

        <!--如果引入了xpush-umeng库-->
        <meta-data
            android:name="XPush_UMengPush_1001"
            android:value="@string/xpush_umeng_client_name" />

        <!--如果引入了xpush-huawei库-->
        <meta-data
            android:name="XPush_HuaweiPush_1002"
            android:value="@string/xpush_huawei_client_name" />

        <!--如果引入了xpush-xiaomi库-->
        <meta-data
            android:name="XPush_MIPush_1003"
            android:value="@string/xpush_xiaomi_client_name" />

        <!--如果引入了xpush-xg库-->
        <meta-data
            android:name="XPush_XGPush_1004"
            android:value="@string/xpush_xg_client_name" />

    </application>

</manifest>